
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    color: rgb(211, 229, 194);
    background-color: rgb(100, 124, 35)
}

h1 {
    font-size: 64px;
}

h2 {
    font-weight: bolder;
}

input, select, textarea {
    background-color:  rgb(211, 229, 194);
    color: rgb(100, 124, 35);
}

a{
    color: rgb(247, 185, 156);
}

a:hover {
    color: rgb(247, 185, 156);
}

a:visited {
    color: rgb(247, 185, 156);
}
    
.active {
    background-color: rgb(100, 124, 35) !important;
    color: rgb(211, 229, 194) !important;
}

.header {
     /* background-image: url(/images/campfire.gif);
     background-size: 128px;
     background-repeat: no-repeat;
     background-position: 61% 0%; */
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(211, 229, 194);
    background-color: rgb(100, 124, 35);
}

.header h1 {
    padding-top: 20px;
}

.btn-primary {
    background-color: rgb(211, 229, 194);
    border-color: rgb(211, 229, 194);
    color: rgb(100, 124, 35) !important;
}

.btn-danger {
    background-color: rgb(247, 185, 156);
    border-color: rgb(247, 185, 156);
    color: rgb(100, 124, 35) !important;
}

.btn-outline-primary {
    border-color: rgb(247, 185, 156);
    color: rgb(247, 185, 156);
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: rgb(211, 229, 194);
    border-color: rgb(247, 185, 156);
    color:white !important;
}

.btn-danger:hover {
    background-color: rgb(192, 101, 65);
    border-color: rgb(192, 101, 65);
    color:white !important;
}

#fire {
    height: 128px;
    position: relative;
    bottom: 20px;
    right: 20px
}