
h2 {
    text-align: center;
    padding-top: 20px;
}

input, select {
    float: right;
    width: 80%;
}

#buttons {
    text-align: center;
    padding-top: 5px;
}

#addButton {
    text-align: center;
    padding-top:5%;
    margin-top:5%;
    border-top: 1px solid;
}

