<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explore | TentSpots</title>

    <link rel="shortcut icon" href="/images/tent.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/explore-campsite-log.css">
</head>

<body>
    <div class="container-fluid pl-5 pr-5">

        <div class="header">
            <div sec:authorize="isAuthenticated()" style="text-align: right; font-size: 18px">
                <a href="/logout">Log Out</a>
            </div>
            <h1>TentSpots<image id="fire" src="/images/campfire.gif"></image></h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/explore" class="nav-link active">Explore</a>
                </li>
                <li class="nav-item">
                    <a href="/update" class="nav-link">Update</a>
                </li>
            </ul>
        </div>

        <h2 th:text="${campsite.name}"></h2>
        <p th:text="${campsite.location.park.name} + ', ' + ${campsite.location.state.abbr}"></p>
        <a th:href="'/explore/campsite/' + ${campsite.id} + '/log/editor/0'" class="btn btn-primary">Add Log</a> 
        <a th:href="'/explore/campsite/' + ${campsite.id}" class="btn btn-danger">Return To Campsite</a>
        <br/>
        <h3>Visit Log</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Group Leader</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Number in Group</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="visit: ${visits}">
                    <td th:text="${visit?.groupLeader}"></td>
                    <td th:text="${visit?.startDateStr}"></td>
                    <td th:text="${visit?.endDateStr}"></td>
                    <td th:text="${visit?.groupSize}"></td>
                    <td class="notesCol" th:text="${visit.notes}"></td>
                </tr>
            </tbody>
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>