<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | TentSpots</title>

    <link rel="shortcut icon" href="/images/tent.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container-fluid pl-5 pr-5">
        <div class="header">
            <div sec:authorize="isAuthenticated()" style="text-align: right; font-size: 18px">
                <a href="/logout">Log Out</a>
            </div>
            <h1>TentSpots<image id="fire" src="/images/campfire.gif"></image></h1>
            
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/explore" class="nav-link">Explore</a>
                </li>
                <li class="nav-item">
                    <a href="/update" class="nav-link">Update</a>
                </li>
            </ul>
        </div>

        <h2>Featured Campsites</h2>

        <div class="carousel slide w-100 h-100" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="slide0" class="row">
                        <div class="col-md-6">
                            <div id="map0" class="map"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="slide1" class="row">
                        <div class="col-md-6">
                            <div id="map1" class="map"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="slide2" class="row">
                        <div class="col-md-6">
                            <div id="map2" class="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="/js/index.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBL7PejxU79ckOcl-eKA_8WDHxFh_O7YMk&callback=renderMaps"
        type="text/javascript"></script>
</body>

</html>