<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update | TentSpots</title>

    <link rel="shortcut icon" href="/images/tent.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/update.css">
</head>

<body>
    <div class="container-fluid pl-5 pr-5">
        <div class="header">
            <div sec:authorize="isAuthenticated()" style="text-align: right; font-size: 18px">
                <a href="/logout">Log Out</a>
            </div>
            <h1>TentSpots<image id="fire" src="/images/campfire.gif"></image></h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/explore" class="nav-link">Explore</a>
                </li>
                <li class="nav-item">
                    <a href="/update" class="nav-link active">Update</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-3">


                <h2>Filter</h2>
                <form method="POST">
                    <div class="form-group">
                        <label for="campsiteName">Name: </label>
                        <input type="text" name="campsiteName" />
                        <br/>
                    </div>

                    <div class="form-group">
                        <label for="parkName">Park: </label>
                        <input type="text" name="parkName" />
                        <br/>
                    </div>

                    <div class="form-group">
                        <label for="stateAbbr">State: </label>
                        <select name="stateAbbr">
                            <option value="" selected>--Select A State--</option>
                            <option th:each="state: ${states}" th:value="${state.abbr}" th:text="${state.name}"></option>
                        </select>
                        <br/>
                    </div>

                    <div id="buttons">
                        <button type="submit" class="btn btn-outline-primary">Apply</button>
                        <a href="/update" class="btn btn-outline-primary">Reset</a>
                    </div>
                </form>

                <div id="addButton">
                    <a href="/update/editor/0" class="btn btn-primary">Add New Campsite</a>
                </div>
            </div>
            <div class="col-md-9">
                <h2>Campsites</h2>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Park</th>
                        <th>State</th>
                        <th>Total Visits</th>
                        <th></th>
                    </tr>
                    <tr class="campsiteRow" th:each="campsite: ${campsites}">
                        <td>
                            <a th:href="'/explore/campsite/' + ${campsite.id}" th:text="${campsite.name}"></a>
                        </td>
                        <td th:text="${campsite.location.park.name}"></td>
                        <td th:text="${campsite.location.state.name}"></td>
                        <td th:text="${campsite.numVisits}"></td>
                        <td>
                            <a th:href="'/update/log/' + ${campsite.id}" class="btn btn-primary">Edit Log</a>
                            <a th:href="'/update/editor/' + ${campsite.id}" class="btn btn-primary">Edit Campsite</a>
                            <button class="btn btn-danger deleteBtn" th:onclick="'deleteCampsite(' + ${campsite.id} + ')'">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/update.js"></script>
</body>

</html>