<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update | TentSpots</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>TentSpots</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/explore" class="nav-link">Explore</a>
            </li>
            <li class="nav-item active">
                <a href="/update" class="nav-link">Update</a>
            </li>
        </ul>

        <form>
            <label for="name">Campsite Name: </label>
            <input type="text" name="name" />
            <br/>

            <label for="latitude">Latitude: </label>
            <input type="number" name="latitude" min="-90" max="90" step="0.000001" />
            <br/>

            <label for="longitude">Longitude: </label>
            <input type="number" name="longitude" min="-180" max="180" step="0.000001" />
            <br/>

            <label for="park">Park Name: </label>
            <select name="park">
                <option th:each="park: ${parks}" th:value="${park}" th:text="${park.name}"></option>
            </select>
            <br/>

            <label for="state">State: </label>
            <select name="state">
                <option th:each="state: ${states}" th:value="${state}" th:text="${state.name}"></option>
            </select>
            <br/>

            <div id="featureCheckbox" th:each="feature: ${features}">
                <label th:for="${feature.name}" th:text="${feature.name} + ': '"></label>
                <input type="checkbox" th:name="${feature.name}" th:value="feature">
            </div>

            <button type="submit">Done</button>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>